body {
    font-family: 'Open Sans', sans-serif;
}

/*nav related styles*/

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;


}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    word-wrap: break-word
}

.text-primary {
    color: #FD6E0A
}

header {
    background-color: rgb(250, 246, 240);
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-content {
    max-width: 500px;
}

.banner .profile-pic {
    width: 500px;

}

.banner-greeting {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    margin-bottom: 0;

}

.banner-title {
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #f8f0ea;
    margin: 130px 0;
}

.section-title {
    color: var(--Dark-01, #181818);
    text-align: center;

    font-size: 35px;
    font-style: normal;
    font-weight: 700;

}

.section-description {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
    margin-top: 50 px;
}

.info-title {
    margin-bottom: 0px;
}

.info-desceiption {
    margin-top: 0px;
}

#what-i-do {
    padding: 30px 150px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

/* resume section styles */
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 70px;
}
.resume-item-description, .resume-item-institute{
    color: #757575;
    
}
.resume-item-title{
    color: #474747;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 25px;
}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-container hr{
    margin: 30px 0px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}